
.white-text {
    color: white;
}

.bg-black {
    background-color: black;
}

.button-purple {
    background-color: black;
    border: 2px solid rgb(121, 33, 172);
    color: rgb(121, 33, 172);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    font-size: 15px;
  }

.centered {
    padding: 12% 0;
    vertical-align: middle;
    text-align: center;
  }

  .centered-2 {
    padding: 12%;
    text-align: center;
  }

.form-item {
    display: block;
    margin: 10px 40px 40px 40px;
}

.title {
    margin: 40px;
    font-size: 40pt;
}

.form-text {
    font-size: 15pt;
}

.input-boxes {
    height: 70px;
    font-size: 16pt;
    padding: 0 0 0 15px;
}

label {
    width:140px;
    /* clear:left; */
    /* text-align:right; */
    /* padding-right:20px; */
}

/* input {
    text-align: right;
} */
